
body{
    margin: 0;
    padding: 0;
    background-color: rgb(171, 169, 169);
    height: 100vh;
}
header,footer{
    text-align: center;
    background-color: rgb(63, 63, 252);
    margin: 0;
    padding: 5px;
    color: white;
    border:5px ;
}
.container{
    height: 100vh;
    padding-bottom: 1.5rem;
    display: flex;
}
.p1{
    background-color: white;
    border-radius: 0.5rem;
    margin: 10px;
    border:5px;
    padding-left: 5px;
    height: 100vh;
    flex:0.3;
}
img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: solid;
    margin-top: 1rem;
    margin-left: 1rem;
}
.p2{
    background-color: white;
    border-radius: 0.5rem;
    margin: 10px;
    margin-left: 0;
    border:5px ;
    padding-left: 5px;
    height: 100vh;
    flex:0.7;
}

h2,h3{
    margin-left: 1.25rem;
    text-decoration: underline;
}
.about,.edu{
    padding-left:1.25rem;
}
.contact{
    padding-left: 20px;
}
@media screen and (max-width:750px){
    header{
        margin-bottom: 100px;
    }
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .p1,.p2{
        flex:1;
    }
}